@import "variable";
@import "font";
@import "mixin";
body{
    a{
        @include link-decoration();
        :hover{
            color: lightgray;
        }
    }
}

// CSS Top:
.top1{
    @include font($fontJost);
    background-color: rgb(218, 63, 63);
    color: white;
    >div{
        height: 40px;
        position: relative;
        div:last-of-type{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .top1-close{
        position: absolute;
        right: 5px;
        width: 40px;
        line-height: 40px;
    }
}
.top2{
    @include font($fontJost);
    border-bottom: 1px solid lightgray;
    .row{
        padding: 0 20px;
        max-width: 1680px;
        margin: auto;
        >div{
            line-height: 40px;
        } 
        .col-md-10{
            text-align: center;
        } 
    }
}
@keyframes navleft {
    0%{width: 0;}
    100%{width: 130%;}
  }
nav{
    @include font($fontJost);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    .row{
        height: 70px;
        padding: 0 20px;
        max-width: 1680px;
        margin: auto;
        .left{
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            li{
                float: left;
                margin-left: 60px;
                position: relative;
                .menu-dropdown{
                    display: none;
                    position: absolute;
                    background-color: white;
                    padding: 20px;
                    animation: nav-dropdown-in 0.6s;
                    top:30px;
                    height: 500px;
                    left: -20px;
                        .menu-dropdown-item{
                            a:not(#shopnow){  
                                width: 200px;
                                display: block;
                                color: gray;
                                padding: 8px 10px;
                                transition: .3s;
                                user-select: none;
                                &:hover{
                                    background-color: rgb(230, 228, 228);
                                    color: black;
                                }
                            }
                            p{
                                font-size: 25px;
                                font-weight: 400;
                                margin-top: 20px;
                                margin-bottom: 0;
                            }
                            #shopnow{
                                    text-decoration: underline;
                                    margin-top: 0;
                                    padding: 0;
                                    font-weight: 500;
                                    &:hover{
                                        color: black;
                                    }
                            }
                        }
                     
                    }
                  
                .menu-dropdown-page{
                    display: none;
                    position: absolute;
                    background-color: white;
                    width: 250px;
                    padding: 20px;
                    animation: nav-dropdown-in 0.6s;
                    top: 30px;
                    left: -20px;
                    a{
                        display: block;
                        color: gray;
                        padding: 8px 10px;
                        transition: .3s;
                        user-select: none;
                        &:hover{
                            background-color: rgb(230, 228, 228);
                            color: black;
                        }
                    }
                }
                &:hover .menu-dropdown-page{
                    display: block;
                }
                &:hover .menu-dropdown{
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                }
                >a{
                    position: relative;
                    font-weight: 500;
                    &:hover{
                        color: black;
                    }
                    i{
                        margin-left: 5px;
                        font-size: 9px;
                        top: 30%;
                        position: absolute;
                    }
                    &:hover::after{
                        height: 2px;
                        animation: navleft 0.3s ;
                        background-color: black;
                        display: block;
                        width: 130%;
                        content: "";
                    }
                }
            }
            li:first-child{
                margin-left: 0;
            }
        
        }
        .menu{
            display: none;
            i{
                font-size: 25px;
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            li{
                margin-left: 30px;
                float: left;
                &:hover .tooltiptext{
                    visibility: visible;
                    animation: tooltiptext 0.5s;
                }
                &:hover i{
                    color: black;
                }
                @keyframes tooltiptext{
                    0%{top:70%}
                    100%{top:80%}
                  }
                .tooltiptext {
                    visibility: hidden;
                    width: 60px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 2;
                    top: 80%;
                    margin-left: -40px;
                    font-family: "Jost";
                    font-size: 13px;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent transparent black transparent;
                    }
                }
                a:last-child{
                    display: inline-block;
                    position: absolute;
                    top: 20%;
                    text-align: center;
                    color: white;
                    background-color: rgb(214, 23, 23);
                    border-radius: 50%;
                    font-weight: 500;
                    width: 20px;
                    font-size: 13px;
                }
            }
            i{
                font-size: 20px;
            }
        }
    }
}
// CSS img:
@keyframes imgwrap {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}
@keyframes imgtextp {
	0% {
		top: 30%;
	}
	100% {
		top: 0;
	}
}
@keyframes imgtexth1 {
	0% {
		top: 70%;
	}
	100% {
		top: 10%;
	}
}
@keyframes imgtexta {
	0% {
		top: 150%;
	}
	100% {
		top: 90%;
	}
}
@keyframes imgtextrecotton {
	0% {
		left: 70%;
	}
	100% {
		left: 80%;
	}
}
.img {
	position: relative;
    @include font($fontJost);
}
.img-wrap {
	position: relative;
	animation: imgwrap 2s;
	img {
		width: 100%;
		height: auto;
	}
}
.img-nav {
	position: absolute;
	right: 1%;
	height: 100px;
	width: 20px;
	z-index: 1;
	top: 50%;
	transform: translate(-50%,-50%);
	a{
		display: block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		margin-top: 20px;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
	}
    a:first-of-type{
        background-color: white;
        border: 1px solid black;
        width: 14px;
		height: 14px;
    }
}
.img-text {
	position: absolute;
	height: 40%;
	left: 10%;
	top: 50%;
	transform: translate(0,-70%);
	p {
		position: absolute;
		top: 0;
		font-size: 20px;
		margin: 0;
		width: 130px;
		animation: imgtextp 1s;
	}
	h1 {
		font-size: 100px;
		margin: 0;
		font-weight: 400;
	}
	a {
		font-size: 15px;
		padding: 12px 30px;
		border: 1px solid black;
		border-radius: 5px;
		display: inline-block;
		position: absolute;
		width: 150px;
        text-align: center;
		top: 90%;
		animation: imgtexta 3s;
        transition: .5s;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}

.img-text-h1 {
	position: absolute;
	top: 10%;
	animation: imgtexth1 3s;
	width: 600px;
}
.img-text-recotton {
	position: absolute;
	top: 90%;
	left: 80%;
	font-size: 18px;
	animation: imgtextrecotton 3s;
	>p {
		display: inline-block;
		margin-right: 10px;
	}
	a {
		border-bottom: 2px solid black;
		font-weight: bolder;
		margin-left: 5px;
	}
}


// CSS section-collection
.section-collection-head{
    @include font($fontJost);
    .row{
        padding: 0 20px;
        max-width: 1680px;
        margin: auto;
        height: 200px;
        span{
            font-size: 40px;
        }
        .arrow a{
            margin-right: 20px;
            :hover{
                cursor: pointer;
            }
          }
    }
}

// CSS youarein
.youarein {
    @include font($fontJost);
	font-size: 44px;
	text-align: center;
	padding: 50px;
	display: flex;
	clear: right;
    .youarein-content {
        flex: 1;
        padding: 0 10px;
        .dropdown{
            display: none;
            clear: both;
            background-color: white;
            margin-top: 50px;
            width:250px;
            height: 120px;
            z-index: 1;
            box-shadow: 0px 0px 5px 0px black;
            a{
                display: block;
                font-size: 16px;
                text-align: left;
                padding: 6px 8px;
                font-weight: 500;
                &:hover{
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }

          
        }
    }
	span {
		color: gray;
		float: right;
	}
	p {
		display: inline-block;
		float: left;
		margin: 0;
        transition: .4s;
		&::after {
			content: "";
			height: 2px;
			background-color: black;
			width: 100%;
			display: block;
		}
		&:hover {
			cursor: pointer;
			color: gray;
		}
        i{
            font-size: 15px;
            margin-left: 30px;
        }
	}
}


// CSS info
.info{
    @include font($fontJost);
    border-top: 1px solid lightgray;
    .row{
        padding: 40px 20px;
        max-width: 1480px;
        margin: auto;
        .info-item{
            display: flex;
            column-gap: 20px;
            img{
                width: 30px;
                height: 30px;
            }
            .text{
                h2{
                    font-weight: 500;
                    font-size: 20px;
                }
                p{
                    color: gray;
                }
            }
        }
    }
}


// CSS contact

.contact{
    @include font($fontJost);
    border-bottom: 1px solid lightgray;
    background-color: #F6F6F5;
    .row{
        padding: 0 20px;
        max-width: 1680px;
        margin: auto;
        .contact-item{
            height: 100%;
            padding: 60px 0;
            order: 1;
            a {
                display: block;
                padding: 5px 0;
                color: gray;
                transition: .4s;
                &:hover {
                    opacity: 0.7;
                }
            }
            p {
                color: gray;
                line-height: 25px;
            }
            h2 {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
            }
            .infomation,.services{
                display: none;
            }
            .contact-responsive-item{
                display: none;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                h2{
                    font-weight: 500;
                    font-size: 16px;
                }
                p{
                    color: gray;
                    line-height: 25px;
                }
                a{
                    display: block;
                    clear: both;
                    padding: 8px 0;
                    color: gray;
                }
            }
            .information-menu, .services-menu{
                h2{
                    margin: 0;
                }
            }
        }
        .toborder{
            padding-left: 40px;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }
        .first{
            order: 1;
            p{
                margin: 0;
            }
        }
        .last{
            padding-left: 40px;
            order: 2;
            input {
                width: 70%;
                float: left;
                height: 40px;
                background-color: white;
                border: none;
                border-radius: 5px;
                padding-left: 10px;
                color: black;
                font-size: 14px;
                &:focus{
                    outline: none;
                }
            }
            i{
                width: 10%;
                float: left;
                height: 40px;
                display: block;
                font-size: 16px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            button {
                width: 20%;
                float: right;
                height: 40px;
                background-color: white;
                border: none;
                border-radius: 5px;
                text-align: center;
                border-radius: 5px;
                i{
                    clear: both;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    transition: .5s;
                }
                :hover{
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }
        }
      
    }
}


// CSS footer
footer{
    @include font($fontJost);
    background-color: #F6F6F5;
    .row{
        padding: 0 10px;
        max-width: 1680px;
        margin: auto;
        div{
            line-height: 80px;
            height: 80px;
        }
        .last{
            text-align: right;
            a{
                display: inline-block;
                margin-left: 30px;
                font-size: 18px;
                &:hover{
                    color: gray;
                }
            }
        }
     
    }
}


@media screen and (max-width:1400px){
    .top2{
        .row{
            padding: 0 5px;
            .col-xxl-4:first-of-type{
                display: none;
            }
            .col-md-10{
                text-align: left;
            }   
        }
    }
    nav{
        .row{
            padding: 0 5px;
        }
    }  
}
@media screen and (max-width:1200px){
    nav{
        .row{
            padding: 0 5px;
            .left{
                display: none;
            }
            .menu{
                display: block;
            }
        }
    }
    .user{
        display: none;
    }
}
@media screen and (max-width:992px){
    .info{
        .row{
            padding: 30px 0;
            .info-item{
                height: 80px;
                margin-top: 10px;
            }
        }
    }
    .contact{
        .row{
            padding: 0 10px;
            .contact-item{
                padding: 5px;
                >div{
                    display: none;
                }
                .email{
                    display: block;
                }
                .contact-responsive-item{
                    display: flex;
                }
            }
            .toborder{
                border: none;
            }
            .last{
                order: 0;
                padding-top: 30px;
                margin-bottom: 20px;
                input{
                    width: 80%;
                }
                button{
                    width: 10%;
                }
            }
        }
    }
    footer{
        height: 160px;
        .row{
            padding: 5px 0;
            div{
                text-align: center;
                height: 40px;
            }
            .last{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:768px){
    .top2{
        display: none;     
    }
    .contact{
        .row{
            .last{
                input{
                    width: 75%;
                }
                button{
                    width: 15%;
                }
            }
        }
    }
    .star{
        display: none;
    }
}

@media screen and (max-width:500px){
    .contact{
        .row{
            .last{
                input{
                    width: 70%;
                }
                button{
                    width: 20%;
                }
            }
        }
    }
  }
@media screen and (max-width:600px){
    .section-collection-head{
        .row{
            span{
                font-size: 32px;
            }
        }
    }
  }
@media screen and (max-width:400px){
    .section-collection-head{
        .row{
            span{
                font-size: 22px;
            }
        }
    }
    .mycart{
        display: none;
    }
}