body a {
  text-decoration: none;
  color: black;
}
body a :hover {
  color: lightgray;
}

.top1 {
  font-family: "Jost";
  background-color: rgb(218, 63, 63);
  color: white;
}
.top1 > div {
  height: 40px;
  position: relative;
}
.top1 > div div:last-of-type:hover {
  cursor: pointer;
}
.top1 .top1-close {
  position: absolute;
  right: 5px;
  width: 40px;
  line-height: 40px;
}

.top2 {
  font-family: "Jost";
  border-bottom: 1px solid lightgray;
}
.top2 .row {
  padding: 0 20px;
  max-width: 1680px;
  margin: auto;
}
.top2 .row > div {
  line-height: 40px;
}
.top2 .row .col-md-10 {
  text-align: center;
}

@keyframes navleft {
  0% {
    width: 0;
  }
  100% {
    width: 130%;
  }
}
nav {
  font-family: "Jost";
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
nav .row {
  height: 70px;
  padding: 0 20px;
  max-width: 1680px;
  margin: auto;
}
nav .row .left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav .row .left li {
  float: left;
  margin-left: 60px;
  position: relative;
}
nav .row .left li .menu-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  padding: 20px;
  animation: nav-dropdown-in 0.6s;
  top: 30px;
  height: 500px;
  left: -20px;
}
nav .row .left li .menu-dropdown .menu-dropdown-item a:not(#shopnow) {
  width: 200px;
  display: block;
  color: gray;
  padding: 8px 10px;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .row .left li .menu-dropdown .menu-dropdown-item a:not(#shopnow):hover {
  background-color: rgb(230, 228, 228);
  color: black;
}
nav .row .left li .menu-dropdown .menu-dropdown-item p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
}
nav .row .left li .menu-dropdown .menu-dropdown-item #shopnow {
  text-decoration: underline;
  margin-top: 0;
  padding: 0;
  font-weight: 500;
}
nav .row .left li .menu-dropdown .menu-dropdown-item #shopnow:hover {
  color: black;
}
nav .row .left li .menu-dropdown-page {
  display: none;
  position: absolute;
  background-color: white;
  width: 250px;
  padding: 20px;
  animation: nav-dropdown-in 0.6s;
  top: 30px;
  left: -20px;
}
nav .row .left li .menu-dropdown-page a {
  display: block;
  color: gray;
  padding: 8px 10px;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .row .left li .menu-dropdown-page a:hover {
  background-color: rgb(230, 228, 228);
  color: black;
}
nav .row .left li:hover .menu-dropdown-page {
  display: block;
}
nav .row .left li:hover .menu-dropdown {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
nav .row .left li > a {
  position: relative;
  font-weight: 500;
}
nav .row .left li > a:hover {
  color: black;
}
nav .row .left li > a i {
  margin-left: 5px;
  font-size: 9px;
  top: 30%;
  position: absolute;
}
nav .row .left li > a:hover::after {
  height: 2px;
  animation: navleft 0.3s;
  background-color: black;
  display: block;
  width: 130%;
  content: "";
}
nav .row .left li:first-child {
  margin-left: 0;
}
nav .row .menu {
  display: none;
}
nav .row .menu i {
  font-size: 25px;
}
nav .row .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .row .right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav .row .right li {
  margin-left: 30px;
  float: left;
}
nav .row .right li:hover .tooltiptext {
  visibility: visible;
  animation: tooltiptext 0.5s;
}
nav .row .right li:hover i {
  color: black;
}
@keyframes tooltiptext {
  0% {
    top: 70%;
  }
  100% {
    top: 80%;
  }
}
nav .row .right li .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: 80%;
  margin-left: -40px;
  font-family: "Jost";
  font-size: 13px;
}
nav .row .right li .tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
nav .row .right li a:last-child {
  display: inline-block;
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
  background-color: rgb(214, 23, 23);
  border-radius: 50%;
  font-weight: 500;
  width: 20px;
  font-size: 13px;
}
nav .row .right i {
  font-size: 20px;
}

@keyframes imgwrap {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imgtextp {
  0% {
    top: 30%;
  }
  100% {
    top: 0;
  }
}
@keyframes imgtexth1 {
  0% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}
@keyframes imgtexta {
  0% {
    top: 150%;
  }
  100% {
    top: 90%;
  }
}
@keyframes imgtextrecotton {
  0% {
    left: 70%;
  }
  100% {
    left: 80%;
  }
}
.img {
  position: relative;
  font-family: "Jost";
}

.img-wrap {
  position: relative;
  animation: imgwrap 2s;
}
.img-wrap img {
  width: 100%;
  height: auto;
}

.img-nav {
  position: absolute;
  right: 1%;
  height: 100px;
  width: 20px;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img-nav a {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.img-nav a:first-of-type {
  background-color: white;
  border: 1px solid black;
  width: 14px;
  height: 14px;
}

.img-text {
  position: absolute;
  height: 40%;
  left: 10%;
  top: 50%;
  transform: translate(0, -70%);
}
.img-text p {
  position: absolute;
  top: 0;
  font-size: 20px;
  margin: 0;
  width: 130px;
  animation: imgtextp 1s;
}
.img-text h1 {
  font-size: 100px;
  margin: 0;
  font-weight: 400;
}
.img-text a {
  font-size: 15px;
  padding: 12px 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  width: 150px;
  text-align: center;
  top: 90%;
  animation: imgtexta 3s;
  transition: 0.5s;
}
.img-text a:hover {
  background-color: black;
  color: white;
}

.img-text-h1 {
  position: absolute;
  top: 10%;
  animation: imgtexth1 3s;
  width: 600px;
}

.img-text-recotton {
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 18px;
  animation: imgtextrecotton 3s;
}
.img-text-recotton > p {
  display: inline-block;
  margin-right: 10px;
}
.img-text-recotton a {
  border-bottom: 2px solid black;
  font-weight: bolder;
  margin-left: 5px;
}

.section-collection-head {
  font-family: "Jost";
}
.section-collection-head .row {
  padding: 0 20px;
  max-width: 1680px;
  margin: auto;
  height: 200px;
}
.section-collection-head .row span {
  font-size: 40px;
}
.section-collection-head .row .arrow a {
  margin-right: 20px;
}
.section-collection-head .row .arrow a :hover {
  cursor: pointer;
}

.youarein {
  font-family: "Jost";
  font-size: 44px;
  text-align: center;
  padding: 50px;
  display: flex;
  clear: right;
}
.youarein .youarein-content {
  flex: 1;
  padding: 0 10px;
}
.youarein .youarein-content .dropdown {
  display: none;
  clear: both;
  background-color: white;
  margin-top: 50px;
  width: 250px;
  height: 120px;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px black;
}
.youarein .youarein-content .dropdown a {
  display: block;
  font-size: 16px;
  text-align: left;
  padding: 6px 8px;
  font-weight: 500;
}
.youarein .youarein-content .dropdown a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.youarein span {
  color: gray;
  float: right;
}
.youarein p {
  display: inline-block;
  float: left;
  margin: 0;
  transition: 0.4s;
}
.youarein p::after {
  content: "";
  height: 2px;
  background-color: black;
  width: 100%;
  display: block;
}
.youarein p:hover {
  cursor: pointer;
  color: gray;
}
.youarein p i {
  font-size: 15px;
  margin-left: 30px;
}

.info {
  font-family: "Jost";
  border-top: 1px solid lightgray;
}
.info .row {
  padding: 40px 20px;
  max-width: 1480px;
  margin: auto;
}
.info .row .info-item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.info .row .info-item img {
  width: 30px;
  height: 30px;
}
.info .row .info-item .text h2 {
  font-weight: 500;
  font-size: 20px;
}
.info .row .info-item .text p {
  color: gray;
}

.contact {
  font-family: "Jost";
  border-bottom: 1px solid lightgray;
  background-color: #F6F6F5;
}
.contact .row {
  padding: 0 20px;
  max-width: 1680px;
  margin: auto;
}
.contact .row .contact-item {
  height: 100%;
  padding: 60px 0;
  order: 1;
}
.contact .row .contact-item a {
  display: block;
  padding: 5px 0;
  color: gray;
  transition: 0.4s;
}
.contact .row .contact-item a:hover {
  opacity: 0.7;
}
.contact .row .contact-item p {
  color: gray;
  line-height: 25px;
}
.contact .row .contact-item h2 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.contact .row .contact-item .infomation, .contact .row .contact-item .services {
  display: none;
}
.contact .row .contact-item .contact-responsive-item {
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.contact .row .contact-item .contact-responsive-item h2 {
  font-weight: 500;
  font-size: 16px;
}
.contact .row .contact-item .contact-responsive-item p {
  color: gray;
  line-height: 25px;
}
.contact .row .contact-item .contact-responsive-item a {
  display: block;
  clear: both;
  padding: 8px 0;
  color: gray;
}
.contact .row .contact-item .information-menu h2, .contact .row .contact-item .services-menu h2 {
  margin: 0;
}
.contact .row .toborder {
  padding-left: 40px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.contact .row .first {
  order: 1;
}
.contact .row .first p {
  margin: 0;
}
.contact .row .last {
  padding-left: 40px;
  order: 2;
}
.contact .row .last input {
  width: 70%;
  float: left;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
}
.contact .row .last input:focus {
  outline: none;
}
.contact .row .last i {
  width: 10%;
  float: left;
  height: 40px;
  display: block;
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .row .last button {
  width: 20%;
  float: right;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  border-radius: 5px;
}
.contact .row .last button i {
  clear: both;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
.contact .row .last button :hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

footer {
  font-family: "Jost";
  background-color: #F6F6F5;
}
footer .row {
  padding: 0 10px;
  max-width: 1680px;
  margin: auto;
}
footer .row div {
  line-height: 80px;
  height: 80px;
}
footer .row .last {
  text-align: right;
}
footer .row .last a {
  display: inline-block;
  margin-left: 30px;
  font-size: 18px;
}
footer .row .last a:hover {
  color: gray;
}

@media screen and (max-width: 1400px) {
  .top2 .row {
    padding: 0 5px;
  }
  .top2 .row .col-xxl-4:first-of-type {
    display: none;
  }
  .top2 .row .col-md-10 {
    text-align: left;
  }
  nav .row {
    padding: 0 5px;
  }
}
@media screen and (max-width: 1200px) {
  nav .row {
    padding: 0 5px;
  }
  nav .row .left {
    display: none;
  }
  nav .row .menu {
    display: block;
  }
  .user {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .info .row {
    padding: 30px 0;
  }
  .info .row .info-item {
    height: 80px;
    margin-top: 10px;
  }
  .contact .row {
    padding: 0 10px;
  }
  .contact .row .contact-item {
    padding: 5px;
  }
  .contact .row .contact-item > div {
    display: none;
  }
  .contact .row .contact-item .email {
    display: block;
  }
  .contact .row .contact-item .contact-responsive-item {
    display: flex;
  }
  .contact .row .toborder {
    border: none;
  }
  .contact .row .last {
    order: 0;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .contact .row .last input {
    width: 80%;
  }
  .contact .row .last button {
    width: 10%;
  }
  footer {
    height: 160px;
  }
  footer .row {
    padding: 5px 0;
  }
  footer .row div {
    text-align: center;
    height: 40px;
  }
  footer .row .last {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .top2 {
    display: none;
  }
  .contact .row .last input {
    width: 75%;
  }
  .contact .row .last button {
    width: 15%;
  }
  .star {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .contact .row .last input {
    width: 70%;
  }
  .contact .row .last button {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .section-collection-head .row span {
    font-size: 32px;
  }
}
@media screen and (max-width: 400px) {
  .section-collection-head .row span {
    font-size: 22px;
  }
  .mycart {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */